@import 'src/styles/vars';
@import 'src/styles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.buttonFooter {
    color : white;
    border: 1px solid white;
    text-align: center;
    font-size: 0.8em;
    background-color: transparent;
    margin: 0.6rem;
    border-radius: 4px;
    &:hover{
        background-color: white;
        color: $LightColor;
    }
    
}

.textFooter {
  color : whitesmoke;
  font-size: 0.8em;
  padding: 0.5rem;
}

.Footer {
  position: relative;
  width:100vw;
  height:$footer;
  z-index: 1;
  bottom:0;
  text-align: center;
  background-color: rgba(37,17,82,0.90)
}
